.ApplicationHeader {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: var(--page-padding);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ApplicationHeader .header-buttons button {
    font-size: 1.2rem;
    margin: 0 1rem;
}

.ApplicationHeader .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--light-color);
}

.title:hover {
    color: var(--light-color);
}