.ProgramsDisplay {
    padding: var(--page-padding);
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.ProgramsDisplay > * {
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 595px) {
    .ProgramsDisplay {
        flex-direction: column;
        align-items: center;
    }
}